@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --main-color: #deab5f;
  --primary-color: #312e2e;
  --font: "Playfair Display", serif;
  --white-color: #fff;
}

/* Utility Styles */
button {
  padding: 10px 30px;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #110f10;
}

/* Navigation Start */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white-color);
  font-family: sans-serif;
  padding-top: 15px;
}

h1 .logo {
  text-decoration: none;
  color: var(--white-color);
}

li {
  list-style: none;
  display: inline;
}

li a {
  color: var(--white-color);
  text-decoration: none;
  margin-left: 40px;
  padding-bottom: 10px;
}

li a:hover {
  border-bottom: 2px solid var(--main-color);
}

/* Header */
header {
  background: url(/Images/pexels-nao-triponez-129207.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: var(--font);
  font-weight: normal;
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.heading {
  position: absolute;
  font-size: 4rem;
  word-spacing: 10px;
  margin-bottom: -40px;
}

.main-heading {
  top: 7rem;
}

.primary-heading {
  bottom: 4rem;
}

.main-btn {
  position: absolute;
  bottom: 2rem;
  padding: 10px 30px;
  margin-top: 20px;
  background: transparent;
  background: var(--main-color);
  transform: translateY(60px);
}

/* Section: our */
#our-story {
  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.img {
  width: 400px;
  height: 400px;
  background: url(/Images/pexels-chitokan-2183027-removebg-preview.png);
  background-size: cover;
  background-position: center;
}

.title-style {
  display: flex;
  align-items: center;
}

.title {
  font-family: var(--font);
  font-size: 4rem;
  color: var(--white-color);
  transform: translateX(-100px);
}

.line {
  width: 100px;
  height: 2px;
  background: var(--white-color);
  transform: translateX(-120px);
}

.section-content p {
  max-width: 500px;
  color: var(--white-color);
  font-family: sans-serif;
  line-height: 20px;
  margin: 20px 0;
}
